/* google imported font */
@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cookie&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Moon+Dance&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

/* body */
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(/images/piz.jpg);
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #060404;
}
/* navigation bar styling */
nav{
    position: fixed;
    margin: 0;
    margin-left: 0;
    width: 100%;
    height: 100px;
    padding: 10px 20px;
    background: rgba(46, 44, 44, 0.9);
    border-bottom: 1px solid white;
}

nav .logo{
    padding: 22px 20px;
}

nav ul{
    list-style: none;
    margin: 0;
    padding: 0;
    float: right;
    display: flex;
    margin-top: -5%;
}

nav ul li a{
    text-decoration: none;
    list-style: 80px;
    color: #fff;
    padding: 12px 30px;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
}

nav ul li a:hover{
    background-color: rgb(253, 36, 36);
    border-radius: 10px;
    color: white;
}

/* home Section */
.heading{
    padding:12%;
}

.heading h1{
    font-size: 10rem;
    /* font-weight: bold; */
    font-family: 'Cookie', cursive;
    color: rgb(236, 233, 232);
    text-shadow: 3px 3px 3px black;
}
    
/* btn 1*/
.btn{
    padding: 1%;
    border: 1px solid black;
    border-radius: 10px;
    background: #eb0808f1;
    color: rgb(245, 241, 231);
    font-weight: bold;
    margin-left: 50%;
    text-transform: uppercase;
}

/* about Section */
#about{
    background-image: url(/images/chef.jpg);
    width: 100%;
    height: 70vh;
    margin: 5%;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: -40%;
}

#about h1{
    color: #F6A179;
    font-family: 'Cookie', cursive;
    font-size: 4rem;
    font-weight: bold;
    text-align: center;
    text-shadow: 2px 5px 3px #fff;
    margin-left: 32%;
    padding: 2%;

}

#about p{
    width: 40%;
    margin-left: 60%;
    font-family: 'Moon Dance', cursive;
    color: #fff;
    font-size: 30px;
}

span{
    color: #F9A06C;
    font-weight: bold;
    font-family: 'Lobster', cursive;
}

#about img{
    width: 40%;
    height: 60vh;
    margin-left: 100%;
    margin-top: -30%;
}

#about .btn{
    margin-left: 70%;
}

/* menu */
.container{
    width: 100%;
    height: 140vh;
    background-color: rgb(47,46,49);
    background-repeat: no-repeat;
}

/* css animation start */
.img1:hover {
    animation: bounce 0.5s;
    animation-iteration-count: infinite;
  }
  
  @keyframes bounce {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }
  
  /* css animation end */

.container .img1{
    margin-top:-30%;
    height: 70vh;
}

/* menu styling start*/
#menu{
    margin: 20%;
}

#menu h1{
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    font-size: 4rem;
    font-weight: bold;
    padding: 10%;
    text-align: center;
}

/* menu styling end */

/* styling containers start */
.container1{
    display:flex;
    justify-content:space-between;
    margin-top: -20rem;
    margin-left: 25%;
    height: 40vh;
}

.container2{
    display:flex;
    justify-content:space-between;
    margin-top: 4rem;
    margin-left: 25%;
    height: 40vh;
}

.container1 p{
    color: #faf4f1;
    font-weight: 600;
    font-family: 'Great Vibes', cursive;
    font-size: 25px;
    padding-top: 20%;
}

.container2 p{
    color: #faf4f1;
    font-weight: 600;
    font-family: 'Great Vibes', cursive;
    font-size: 25px;
    padding-top: 20%;
}

/* styling container ends */


/* positioning images start*/
#image1{
    margin-top: 2%;
}

#image2{
    margin-top: 3%;
}

#image3{
    margin-top: 5%;
}
#image5{
    margin-top: 15%;
}

#image6{
    margin-top: 18%;
}

/* positioning images end */


/* styling paragraphs start*/
#div1 p{
    margin-top: -8%;
}

#div2 p{
    margin-top: -8%;
}

#div3 p{
    margin-top: -4%;
}

#div4 p{
    margin-top: 8%;
}

#div5 p{
    margin-top: 12%;
}

#div6 p{
    margin-top: 17%;
}

/* styling paragraph end */

#menu{
    margin: 20%;
}

#menu h1{
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    font-size: 4rem;
    font-weight: bold;
    padding: 10%;
    text-align: center;
}

/* order section styling */
#order1{
    width: 100%;
    height: 100vh;
    /* margin-top: %; */
    background-color: #41f5dd;
    opacity: 0.8;
  }
  
  
  #order h1{
      text-align: center;
      margin-top: 10%;
      font-size: 50px;
      font-weight: bold;
      font-family: 'Roboto', sans-serif;
      color: #111122;
  }
  
  .orderImg{
      margin-left: 30%;
      
  }
  
  form{
      margin-top: -18rem;
  }
  
  /* positioning select input */
  select{
      padding: 0;
      margin: 0;
      margin-left: 80%;
      font-family: 'Roboto', sans-serif;
      margin-bottom: 10%;
  }
  
  /* option styling bg */
  option{
      background-color: #F6A179;
  }
  
  /* button next */
  #next{
      width: 20%;
      margin-left: 30rem;
      background: rgb(11, 227, 255);
      margin-top: 3%;
  }
  
  #next:hover{
      background-color: #ff00ea;
  }
  
  .form-check{
      margin-left: 30rem;
  }
  
  /* toppings check */
  #toppings{
      margin-left: 30rem;
      font-family: 'Roboto', sans-serif;
      color: rgba(235, 15, 26, 0.747);
      font-weight: bold;
  }
  
    #user{
        margin-left: 50rem;
        margin-top: -15rem;
        background-color: #f00c17;
        display: none;
    }
  
    ::placeholder{
        color: #0a0a0a;
    }
  
    /* user data */
    .table{
      margin-top: -20rem;
      width: 30%;
      margin-left: 60%;
      border: 2px solid black;
    }
  
    /* number of pizza input */
    .pizzaNumber{
        font-weight: bold;
        margin-top: 0rem;
        margin-left: 30rem;
    }
  
    /* order button */
    #orderBtn{
        margin-left: 34rem;
        margin-top: 3%;
        background-color: #ff5e00;
    }

    /* contact page styling */
  .contact-image img{
    width: 100%;
    height: 50vh;
}


#contact h1{
    text-align: center;
    color: #ee6110;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    margin-top: 5%;
}

/* form contact */
#name{
  margin-left: 20%;
  /* margin-top: 5%; */
  width: 30%;
  height: 5vh;
}
#email{
    margin-left: 60%;
    width: 30%;
    height: 5vh;
    margin: 2%;
    /* margin-top: -5rem; */
}

#message{
    margin-left: 40%;
    width: 35%;
    height: 15vh;
}

::placeholder{
    text-align: center;
    color: #f00c17;
}

/* contact button */
#submit{
    margin-left: 55%;
    width: 10%;
    background-color: #f00c17;
}
  