/* google imported font */
@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cookie&display=swap');

/* body */
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(/images/piz.jpg);
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgba(7, 5, 5, 0.849);
}
/* navigation bar styling */
nav{
    position: fixed;
    margin: 0;
    margin-left: 0;
    width: 100%;
    height: 100px;
    padding: 10px 20px;
    background: rgba(46, 44, 44, 0.9);
    border-bottom: 1px solid white;
}

nav .logo{
    padding: 22px 20px;
}

nav ul{
    list-style: none;
    margin: 0;
    padding: 0;
    float: right;
    display: flex;
    margin-top: -4%;
}

nav ul li a{
    text-decoration: none;
    list-style: 80px;
    color: #fff;
    padding: 12px 30px;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
}

nav ul li a:hover{
    background-color: rgb(253, 36, 36);
    border-radius: 10px;
    color: white;
}

/* home Section */
.heading{
    padding:12%;
}

.heading h1{
    font-size: 10rem;
    /* font-weight: bold; */
    font-family: 'Cookie', cursive;
    color: rgb(236, 233, 232);
    text-shadow: 3px 3px 3px black;
}
    
/* btn 1*/
.btn{
    padding: 1%;
    border: 1px solid black;
    border-radius: 10px;
    background: #eb0808f1;
    color: rgb(245, 241, 231);
    font-weight: bold;
    margin-left: 50%;
    text-transform: uppercase;
}

